extends ../layout/layout.pug

block title
  title Hotel List

block append script
  script(src="/smarthotelos/common/index.js")
  script(src="/smarthotelos/home/index.js")
  script(src="/smarthotelos/hotel/index.js")
